DATABASE_URL="postgresql://postgres:CloudComputing202@vendorcitydb.c56aoccu2klh.af-south-1.rds.amazonaws.com:5432/vendorcity?schema=public"
AUTH_SECRET="fHDT4kOx31SeKf5LMRKgSw1J0ILzxRc90mdmamOHUTM="
NEXTAUTH_URL="http://localhost:3000"
